/node_modules
/vendor
.phpunit.result.cache
.env
.env.testing
.gitignore
.gitattributes
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/bootstrap/cache/*
.vscode/
.idea/
npm-debug.log
yarn-error.log
docs/
scratch/

student-mobile-app/.gradle/
student-mobile-app/app/build/
student-mobile-app/build/
student-mobile-app/local.properties
student-mobile-app/.idea/

storage/firebase-key.json
firebase-key-base64.txt


