<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Silently redirect all requests to the public folder
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L,QSA]
</IfModule>

<IfModule mod_deflate.c>
    # Prevent Gzip/Deflate compression for Android APKs
    SetEnvIfNoCase Request_URI \.apk$ no-gzip dont-vary
</IfModule>
